<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
    <li><%= restaurant.address%></li>
    <li><%= restaurant.phone_number%></li>
    <li><%= restaurant.category%></li>
    <hr>
  <% end %>
</ul>

<a href="restaurants/new">Add a new restaurant</a>
